html {
	background-color: #f9f9f9;
	max-width: 100%;
	overflow-x: hidden;
}

body {
	width: 100%;
}

.container {
	width: 90vw;
	text-align: center;
}

.text-green {
	color: #5cb85c;
}

.text-red {
	color: #d9534f;
}

.text-bold {
	font-weight: 800;
}

.hr-small-only {
	display: none;
}

section {
	margin: 10vh auto;
}

.users-amount {
	margin: 5vh auto;
}

@media (max-width: 550px) {
	.centered {
		margin-left: auto;
		margin-right: auto;
	}
	.hr-small-only {
		display: block;
	}
}

.chart {
	margin-bottom: 5vh;
}